@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

.container {
    padding: 0 64px;
}

.first {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    padding: 41px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 32px;
    font-family: 'Abhaya Libre';
    font-weight: 700;
}

.header__nav {
    display: flex;
    gap: 42px;
    font-size: 22px;
}

.header__btn {
    width: 169px;
    height: 69px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}



.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}

.main__left {
    position: relative;
}

.main__text {
    font-size: 19px;
    font-weight: 500;
    line-height: 36.94px;
    width: 396px;
    margin-top: 101px;
}

.main__title {
    font-family: 'Abhaya Libre';
    font-size: 192px;
    font-weight: 700;
    margin-top: 116px;
}

.main__img {
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 0;
    right: 400px;
    left: 23vw;
    z-index: -1;
}

.main__img img {
    width: 100%;
    height: 100%;
}

.main__right {
    position: relative;
}

.main__right-subtitle {
    font-size: 16px;
}

.main__right-title {
    font-size: 32px;
    margin-top: 21px;

}

.main__right-btn {
    width: 161px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid black;
    margin-top: 21px;
}

.main__right-img {
    margin-top: 65px;
}

.apex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 191px;
}

.apex__left {
    position: relative;
}

.apex__img {
    height: 737px;
    width: 553px;
}

.apex__right {
    position: relative;
    right: 400px;
}

.apex__right-subtitle {
    font-size: 24px;
    margin-top: 39px;
}

.apex__right-title {
    font-size: 128px;
    font-family: 'Abhaya Libre';
    margin-top: 31px;

}

.apex__right-text {
    font-size: 28px;
    margin-top: 25px;
}

.apex__right-btn {
    width: 215.38px;
    height: 69.56px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #000;
    margin-top: 37px;
}

.chief {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 209px;

}

.chief__left {
    position: relative;
}

.chief__left-title {
    font-size: 88px;
    font-family: 'Abhaya Libre';
    margin-top: 52px;

}

.chief__left-text-1 {
    font-size: 18px;
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chief__left-text-p {
    font-size: 98px;
    font-family: 'Abhaya Libre';
}

.major {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
}

.majot__left {
    position: relative;
}

.major__left-img-1 {
    height: 374px;
    width: 561px;
    z-index: -1;
}

.major__left-img-2 {
    height: 374px;
    width: 524px;
    z-index: 2;
    margin-left: 246px;
    position: relative;
    bottom: 100px;
}

.major__right {
    position: relative;
}

.major__right-title {
    font-size: 88px;
    font-family: 'Abhaya Libre';
    margin-top: 7px;
}

.major__right-text-1 {
    font-size: 24px;
    margin-top: 62px;
    margin-right: 260px;
}

.great {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
}

.great__upper {
    position: relative;
    bottom: 70px;
    right: 50px;
}

.great__upper-title {
    font-size: 98px;
    font-family: 'Abhaya Libre';
}

.great__left {
    position: relative;
    top: 177px;
}

.great__left-subtitle {
    font-size: 24px;
}

.great__left-title {
    font-size: 58px;
    font-family: 'Abhaya Libre';
    margin-top: 54px;
}

.great__left-text {
    font-size: 18px;
    margin-top: 34px;
}

.great__left-price {
    font-size: 19px;
    margin-top: 54px;
    display: flex;
    align-items: center;
}

.great__left-buy {
    font-size: 35px;
    font-family: 'Abhaya Libre';
}

.great__left-btn {
    width: 235px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid black;
    margin-top: 34px;
}

.great__center {
    position: relative;

}

.great__center-img {
    position: relative;
    left: 230px;
}

.great__right {
    position: relative;
    top: 177px;
    right: 240px;
}

.great__right-subtitle-upper {
    font-size: 24px;
    line-height: 40px
}

.great__right-subtitle {
    margin-top: 73px;
    font-size: 24px;
    line-height: 40px;
}

.primal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 155px;
}

.primal__center {
    position: relative;
    bottom: 96px;
}

.primal__center-title {
    font-size: 93px;
    font-family: 'Abhaya Libre';
}

.primal__center-text {
    font-size: 20px;
    margin-top: 45px;
}

.primal__right {
    position: relative;
    bottom: 53px;
}

.primal__right-text {
    font-size: 19px;
    margin-top: 23px;
}

.lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 115px;
}

.lower__left {
    margin-top: 187px;
}

.lower__left-text {
    font-size: 24px;
}

.lower__left-btn {
    margin-top: 43px;
    width: 213px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid black;
}

.footer {
    margin-top: 111px;
    width: 100%;
    height: 550px;
    background-color: #000;
    color: #fff;
    padding: 0 64px;
}

.under {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.under__left {
    position: relative;
}

.under__left-title {
    font-size: 54px;
    font-family: 'Abhaya Libre';
    margin-top: 88px;
}

.under__left-text {
    font-size: 18px;
    margin-top: 43px;
}

.under__left-footer {
    font-size: 18px;
    margin-top: 177px;
}

.under__right {
    position: relative;
    right: 331px;
}

.under__right-subtitle {
    font-size: 28px;
    margin-top: 110px;

}

.under__right-input {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;

}

.under__right-underline {
    width: 571px;
    height: 1px;
    background-color: #fff;
    top: 12px;
    position: relative;
}

.under__right-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-right: 200px;
}

.under__right-icons {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 5px;
    left: 522px;
    padding: 0 200px;
}